html{
    scroll-behavior: smooth;
}
body{
    font-family:Arial, Helvetica, sans-serif
}

h1{
    padding: 30px 0px
}
div{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
nav{
    background-color: white;
}

nav a{
    color: black;
    font-size: 25px;
    padding-right: 20px;
}

footer{
    background-color:#91D9E9;
    color: black;
    text-align: center;
    line-height: 2;
}

iframe{
    display: block;
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.articles{
    display: inline-block;
    width: 40vw; 
    background: #91D9E9;
    margin: 10px;
  }

.articles2{
    display: inline-block;
    width: 40vw; 
    background: #91D9E9;
    margin: 10px;
    padding: 10px 0px 0px;
  }

.articles3{
    display: inline-block;
    width: 40vw; 
    background: #91D9E9;
    margin: 10px;
}

.medialinks li{
    text-align: left;
    margin: 10px 20px;
}

.medialinks a{
    color: black;
}

