html{
    scroll-behavior: smooth;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute; 
    top: -40px; 
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  .skip a:focus{
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
  }

/* Mobile ---------------------------- */
@media screen and (min-width:100px){ 
    h1{
        padding: 20px 0px
    }

    div{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    nav{
        background-color: white;
    }

    nav a{
        color: black;
        font-size: 17px;
        padding-right: 10px;
    }

    footer p{
        margin: 0px;
    }

    footer{
        background-color:#91D9E9;
        color: black;
        text-align: center;
        line-height: 2;
        position: relative;
        bottom: 0;
        width: 100%;
}
/* CV ------------------------------- */

    .iframe-container{ /* cv */
        display: none;
    }

    .cv-footer{
        position: absolute;
    }

    .download-link{
        background-color: #91D9E9;
        width: 50vw;
        font-size: 30px;
    }

    .download-link a{
        color: black;
    }

/* Media --------------------------- */
    .title{
        text-align: left;
        font-weight: bold;
        font-style: italic;
    }

    .articles{
        display: block;
        width: 95vw; 
        background: #91D9E9;
    }

    .articles2{
        display: block;
        width: 95vw; 
        background: #91D9E9;
    }

    .articles3{
        display: block;
        width: 95vw; 
        background: #91D9E9;
    }

    .podcasts{
        display: inline-block;
        width: 95vw; 
        background: #91D9E9;
    }

    .medialinks li{
        text-align: left;
        margin: 10px 10px;
    }

    .medialinks a{
        color: black;
    }

    .video{
        display: block;
        padding: 20px 0px 20px 0px;
    }
    
    
    .youtubevideo{
        border: 10px solid #91D9E9;
        height: 50vh;
        width: 95vw;
    }
}
/* Desktop --------------------------- */
@media screen and (min-width:700px){ 
    h1{
        padding: 30px 0px
    }
    div{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }

    nav{
        background-color: white;
    }

    nav a{
        color: black;
        font-size: 25px;
        padding-right: 20px;
    }

    footer p{
        margin: 0px;
    }

    footer{
        background-color:#91D9E9;
        color: black;
        text-align: center;
        line-height: 2;
        position: relative;
        bottom: 0;
        width: 100%;
}
/* CV ------------------------------- */
    iframe{ /* cv */
        width: 60vw;
        height: 100vh;
    }

    .iframe-container{ /* cv */
        display: block;
        padding: 0px 0px 40px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .cv-footer{
        position: relative;
    }

    .download-link{
        display: none;
    }

/* Media --------------------------- */
    .title{
        text-align: left;
        font-weight: bold;
        font-style: italic;
    }

    .articles{
        display: inline-block;
        width: 40vw; 
        height: 105vh;
        background: #91D9E9;
        margin: 10px;
        box-shadow: 10px 10px 5px grey;
        vertical-align: top;
    }

    .articles2{
        display: inline-block;
        width: 40vw; 
        height: 105vh;
        background: #91D9E9;
        margin: 10px;
        box-shadow: 10px 10px 5px grey;
        vertical-align: top;
    }

    .articles3{
        display: inline-block;
        width: 40vw; 
        background: #91D9E9;
        margin: 10px;
        box-shadow: 10px 10px 5px grey;
        vertical-align: top;
    }

    .podcasts{
        display: inline-block;
        width: 40vw; 
        height: 50vh;
        background: #91D9E9;
        margin: 10px;
        box-shadow: 10px 10px 5px grey;
        vertical-align: top;
    }

    .medialinks li{
        text-align: left;
        margin: 10px 20px;
    }

    .medialinks a{
        color: black;
    }

    .video{
        display: block;
        padding: 20px;
    }
    
    
    .youtubevideo{
        border: 10px solid #91D9E9;
        width: 60vw;
        height: 80vh;
        box-shadow: 10px 10px 5px grey;
    }
}

